In [1]:
import pandas as pd
import numpy as np

## PG an BEI

In [2]:
data1= pd.read_csv("PG_BEI.DE_2007_2017.csv", index_col = "Date")

In [3]:
data1.head()

                   PG     BEI.DE
Date
2007-01-03  46.849339  40.840446
2007-01-04  46.493664  41.108604
2007-01-05  46.094406  40.263515
2007-01-08  46.196045  40.271648
2007-01-09  46.079914  39.361546

In [4]:
#data1.tail()

### log return

In [5]:
return1 = np.log(data1/data1.shift(1))
return1.head()

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006545
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002203  0.000202
2007-01-09 -0.002517 -0.022858

## PG

In [6]:
return1['PG'].mean()

0.00025104897045418687

In [7]:
return1['PG'].mean()*250

0.06276224261354672

In [8]:
return1['PG'].std()

0.0111619032657211

In [9]:
return1['PG'].std()*250 ** 0.5 #annual variance = daily variance * 250 so annual std = std *sqrt(250)

0.17648518671075156

## Beiersdorf

In [10]:
return1['BEI.DE'].mean()

0.0002692145717092706

In [11]:
return1['BEI.DE'].mean()*250

0.06730364292731765

In [12]:
return1['BEI.DE'].std()

0.0142586835071142

In [13]:
return1['BEI.DE'].std()*250 ** 0.5 #annual variance = daily variance * 250 so annual std = std *sqrt(250)

0.22544958158979278

### Combine both

In [14]:
return1[['PG', 'BEI.DE']].mean() * 250

PG        0.062762
BEI.DE    0.067304
dtype: float64

In [15]:
return1[['PG', 'BEI.DE']].std() * 250 ** 0.5

PG        0.176485
BEI.DE    0.225450
dtype: float64