In [1]:
import pandas as pd
import numpy as np

In [3]:
data1= pd.read_csv("PG_BEI.DE_2007_2017.csv", index_col = "Date")
data1.head()

                   PG     BEI.DE
Date
2007-01-03  46.849339  40.840446
2007-01-04  46.493664  41.108604
2007-01-05  46.094406  40.263515
2007-01-08  46.196045  40.271648
2007-01-09  46.079914  39.361546

# Returns

In [4]:
return1 = np.log(data1/data1.shift(1))
return1.head()

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006545
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002203  0.000202
2007-01-09 -0.002517 -0.022858

## Single stock risk

### Variance

In [8]:
PG_var = return1['PG'].var()
PG_var_a = PG_var * 250 #annualise variance
print(PG_var_a)

0.03114702112832884

In [9]:
BEI_var = return1['BEI.DE'].var()
BEI_var_a = BEI_var * 250 #annualise variance
print(BEI_var_a)

0.05082751383901263

### Covariance and correlation matrix

In [13]:
cov_matrix_a = return1.cov() * 250
print(cov_matrix_a)

              PG    BEI.DE
PG      0.031147  0.010300
BEI.DE  0.010300  0.050828

In [14]:
corr_matrix = return1.corr()
corr_matrix

              PG    BEI.DE
PG      1.000000  0.257455
BEI.DE  0.257455  1.000000

# Portfolio risk

## Equal weight

In [16]:
weights = np.array([0.5, 0.5])

### Variance

In [19]:
#(weight.cov)^2 -> transpose(W) * cov * W
pfolio_var = np.dot(weights.T, np.dot(return1.cov()*250, weights))
pfolio_var

0.025643487050316736

### Volatility

In [27]:
pfolio_vol = pfolio_var ** 0.5
print(str(round(pfolio_vol * 100, 2)) + ' %')

16.01 %

## Diversifiable and non fiversifiable risk

### Diversifiable risk
#### Diversifiable risk = portfolio variance - weighted annual variance

In [31]:
dr = pfolio_var - (weights[0] ** 2 * PG_var_a) - (weights[1] ** 2 * BEI_var_a)
print(str(round(dr * 100, 4)) + ' %')

0.515 %

### Non-diversifiable risk

In [32]:
method_1 = pfolio_var - dr
print(method_1)

0.020493633741835368

In [35]:
method_2 = (weights[0] ** 2 * PG_var_a) + (weights[1] ** 2 * BEI_var_a)
method_2

0.020493633741835368

In [37]:
if method_1 == method_2:
    print('Calculation is correct')
else:
    print('At least one calculation is not correct')

Calculation is correct