In [1]:
import numpy as np
import pandas as pd

In [2]:
data = PG = pd.read_csv("CAPM-Data.csv", index_col = "Date")

In [3]:
data.head()

                   PG        ^GSPC
Date
2012-01-03  66.830002  1277.060059
2012-01-04  66.800003  1277.300049
2012-01-05  66.519997  1281.060059
2012-01-06  66.360001  1277.810059
2012-01-09  66.639999  1280.699951

In [4]:
#data.tail()

### Initial calculations

In [5]:
sec_returns = np.log(data / data.shift(1))
sec_returns.head()

                  PG     ^GSPC
Date
2012-01-03       NaN       NaN
2012-01-04 -0.000449  0.000188
2012-01-05 -0.004201  0.002939
2012-01-06 -0.002408 -0.002540
2012-01-09  0.004211  0.002259

In [6]:
cov = sec_returns.cov() * 250
cov

             PG     ^GSPC
PG     0.020843  0.010025
^GSPC  0.010025  0.016361

In [7]:
cov_with_market = cov.iloc[0,1]
cov_with_market

0.010025480950656808

In [8]:
market_var = sec_returns['^GSPC'].var() * 250
market_var

0.016360592699269063

In [9]:
if cov.iloc[1,1] == market_var:
    print('Calculation correct')
else:
    print('Something went wrong')

Calculation correct

## Beta = covar(asset, market) / var(market)

In [15]:
pg_beta = cov.iloc[0,1] / cov.iloc[1,1]
pg_beta

0.612782258866741

## CAPM:
#### r = rf - beta(rm-rf) -> assume long term market premium 5%

In [16]:
rf = 2.5 / 100 #10 years US bond
equity_premium = 5 / 100 # long term risk premium
pg_e_return = rf + pg_beta * equity_premium
pg_e_return

0.05563911294333705

## Sharpe ratio
#### excess return = (rate of return - risk free) 
#### sharpe = excess return / standard deviation

In [17]:
pg_std_dev = cov.iloc[0,0] ** 0.5
pg_sharpe = (pg_e_return - rf) / pg_std_dev
pg_sharpe

0.2122261927278484